<h1 style="padding:1%; text-align: center">Instructions to be followed before running the Project</h1>
<div class="container-fluid">
  <p class="text-justify">
    To run this project you will require userId and Password
    <br>
    <hr> Here is the list of Id and password
    <br> {"ID":"John@example.com","Password":"john"}
    <br> {"ID":"Alice@example.com","Password":"alice"}
    <br> {"ID":"Bob@example.com","Password":"bob"}
    <br>
    <hr> After login you will be navigated to home page from where you can start the exam.
    <hr> Do not worry about answers. In project you will find two directives.
    <br>
    <ul>
      <li>Frontend</li>
      <li>Backend</li>

    </ul>

    Frontend is angular project and Backend is restApi which is connected to Blockchain, In Backend folder there is a folder
    named question_and_answer from here you can get the answers of all questions.


  </p>
  <div class="row" style="padding-bottom: 1%;padding-top: 15%">
    <div class="col-md-4"></div>
    <div class="col-sm-1  col-md-4 " style="text-align: center">
      <button type="button" class="Rbutton" ng-click="next()">
        <span class="save">Got it!</span>
      </button>
    </div>
    <div class="col-md-4"></div>
  </div>
</div>