<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" style="font-size: 30px;font-weight: bold;color:grey" href="#">Blockchain Test</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse " id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto ">
      <li class="nav-item active">
        <a class="nav-link" href="#!login">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#!test">Test</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#!">Abort</a>
      </li>
     
     
    </ul>
    
  </div>
</nav>
<div class="container-fluid">
 


<div class="row" style="padding-top:5%"  >
        <div class="col-md-2"></div>
  <div class="col-sm-1  col-md-8 " style="font-size: 50px;color:green;text-align: center;font-weight: bolder">Welcome: <div>Mr.{{id}}</div></div>
 
  <div class="col-md-2"></div>
</div>
<div class="row" style="padding-top:5%"  >
  <div class="col-md-2"></div>
<div class="col-sm-1  col-md-8 " style="font-size: 30px;color:blueviolet;text-align: center">Account : {{account}}</div>

<div class="col-md-2"></div>
</div>
<div class="row" style="padding-top: 8%" >
  <div class="col-md-5"></div>
<div class="col-sm-1 col-md-1 " style="text-align: center"><a href="#!test"><button type="button" class="Rbutton" ><span class="save">Start the Test</span></button></a></div>
<div class="col-md-5"></div>
</div>
